*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: Helvetica;
    font-size: 14px;
}

.container {
    display: block;
    margin: 0 auto;
    width: 50%;
    -webkit-text-size-adjust: none;
}

.textfield {
	max-height: 300px;
}